<h1 class="header-text">Active Missions</h1>
<div class="shadow-card mb-5">
  <table class="table table-container" id="missionTable">
    <thead>
      <tr>
        <th scope="col">Mission ID</th>
        <th scope="col">Mission Name</th>
        <th scope="col">Submit Date</th>
        <th scope="col">Priority</th>
        <th scope="col">Status</th>
        <th scope="col">Hero Assigned</th>
      </tr>
    </thead>
    <tbody id="missionTable" class="table-striped">
      <!-- Loop over each object in the mission array -->
      {{#each missions as |mission| }}
      <tr class="table-light">
        <th scope="row"><a href="/mission/{{mission.mission_id}}">{{mission.mission_id}}</a></th>
        <td><a href="/mission/{{mission.mission_id}}">{{mission.mission_name}}</a></td>
        <td><a href="/mission/{{mission.mission_id}}">{{format_date mission.date_created}}</a></td>
        <td><a href="/mission/{{mission.mission_id}}">{{mission.priority}}</a></td>
        <td><a href="/mission/{{mission.mission_id}}">{{mission.status}}</a></td>
        <td>
          {{#each heros as |hero|}}
          {{hero}}&nbsp;
          {{/each}}
        </td>
        {{log ../canJoinNewMission}}
        {{#if ../canJoinNewMission}}
        <td></td>
        {{else}}
        <td><input type="submit" class='join_mission' data-id="{{mission.mission_id}}" value='Join Mission'></td>
        {{/if}}
      </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="text-center">
    <span><button class="btn btn-outline-dark page-button mb-2"><a
          href="{{pageLinks.0.path}}">{{pageLinks.0.display}}</a></button></span>
    <span><button class="btn btn-outline-dark page-button mb-2"><a
          href="{{pageLinks.1.path}}">{{pageLinks.1.display}}</a></button></span>
    <span><button class="btn btn-outline-dark page-button mb-2"><a
          href="{{pageLinks.2.path}}">{{pageLinks.2.display}}</a></button></span>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <a href="/create"><button class="btn_animate btn-outline-dark">Create Mission</button></a>
  </div>
  {{#if logged_in}}
  <div class="col-6 d-flex justify-content-end">
    <button class="btn_animate btn-outline-dark print">Print Table</button>
  </div>
</div>
{{else}}
{{/if}}

<script src="./js/homepage.js"></script>