<h1 class="header-text">Active Missions</h1>
<div class="shadow-card mb-5">
  <table class="table table-container" id="missionTable">
    <thead>
      <tr>
        <th scope="col">Mission ID</th>
        <th scope="col">Mission Name</th>
        <th scope="col">Submit Date</th>
        <th scope="col">Priority</th>
        <th scope="col">Status</th>
        <th scope="col">Hero Assigned</th>
      </tr>
    </thead>
    <tbody id="missionTable">
      <!-- Loop over each object in the mission array -->
      {{#each missions as |mission| }}
      <tr class="table-secondary">
        <th scope="row"><a href="/mission/{{mission.mission_id}}">{{mission.mission_id}}</a></th>
        <td><a href="/mission/{{mission.mission_id}}">{{mission.mission_name}}</a></td>
        <td><a href="/mission/{{mission.mission_id}}">{{format_date mission.date_created}}</a></td>
        <td><a href="/mission/{{mission.mission_id}}">{{mission.priority}}</a></td>
        <td><a href="/mission/{{mission.mission_id}}">{{mission.status}}</a></td>
        {{#if heros}}
        <td>
          {{#each heros as |hero|}}
          {{hero}},
          {{/each}}
        </td>
        {{else}}
        <td><input type="submit" class='join_mission' data-id="{{mission.mission_id}}" value='Join Mission'></td>
        {{/if}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<a href="/create"><button class="btn">Create Mission</button></a>
{{#if logged_in}}
<button class="btn print">Print Table</button>
{{else}}
{{/if}}

<script src="./js/homepage.js"></script>