<h1>Mission:#{{mission_id}}</h1>
<table class="table">
  <tbody>
    <tr>
      <td>Mission Name</td>
      <td>{{mission_name}}</td>
    </tr>
    <tr>
      <td>Location</td>
      <td>{{location}}</td>
    </tr>
    <tr>
      <td>Status</td>
      <td>{{status}}</td>
    </tr>
    <tr>
      <td>Assigned to</td>
      <td>{{hero}}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{description}}</td>
    </tr>
    <tr>
      <td>Mission Request date</td>
      <td>{{format_date date_created}}</td>
    </tr>
  </tbody>
</table>